*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(225, 125, 24):
}


div{
    width: 300px;
    height: 500px;
    box-shadow: 0 0 15px 10px grey;
    border-radius: 40px;
    text-align: center;
    margin: 50px;
    background-color: white;
}


.burger{
    width: 100%;
    border-radius: 40px;
}



h1{
    color: rgb(255, 2, 86);
    margin-bottom: 30px;
}


h2{
    margin-bottom: 30px;
}


button{
    margin-left: 160px;
    border-radius: 10px;
    background-color: rgb(255,2,86);
    border: none;
    width: 50px;
    height: 40px;
}